header,
#slide {
    background-size: cover;
    background-image: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/background.jpg");
    color: white
}

nav {
    width: 100%;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

.topNav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topNav a:hover {
    border-bottom: 3px solid white;
}

.topNav a.active {
    border-bottom: 3px solid white;
}

.welcome {
    margin: auto;
    width: 50%;
    padding: 200px;
    text-align: center;
}

.welcome h1 {
    font-variant: small-caps;
}

.welcome h3 {
    font-style: italic;
}

.buttons {
    width: 100%;
    display: flex;
    background-color: black;
    text-align: center;
}

.buttons #login {
    width: 50%;
    background-color: #21424A;
    color: white;
    padding: 25px 0px;
    font-size: 17px;
}

.buttons #login:hover {
    background-color: rgb(60, 12, 12);
    cursor: pointer;
}

.buttons #register {
    width: 50%;
    background-color: #2FAC6C;
    color: white;
    padding: 25px 0px;
    font-size: 17px;
}

.buttons #register:hover {
    background-color: rgb(60, 12, 12);
    cursor: pointer;
}

.about,
.utility {
    display: flex;
}

.about-section {
    padding: 30px 50px;
    text-align: left;
    width: 60%;
    border-right: 4px dotted grey;
    margin: 20px;
}

.about-section p {
    width: 60%;
    margin: -10px;
}

.column {
    float: left;
    width: 30%;
    padding: 50px 8px;
}

.card {
    margin: 8px;
    text-align: center;
}

.face {
    border-radius: 50%;
    border: 5px solid #a6abad;
}

.img {
    width: 20px;
    margin: 5px;
}

.row {
    display: contents;
}

#slide {
    text-align: center;
    padding: 20px;
}

footer {
    background: #2A2A2A;
    color: #646464;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

footer .footer {
    width: 30%;
    margin: 20px;
}

#links {
    display: flex;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

#links ul {
    margin: auto;
    width: 33%;
}

#links a:hover {
    color: aliceblue;
}

#links a {
    color: #646464;
}

#designInfo {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 25px;
}

#contactInfo {
    text-align: left;
    margin: auto;
    width: 50%;
}

.icon {
    position: relative;
    width: 15px;
    padding-right: 5px;
}

#slide a {
    color: aliceblue;
}

#slide a:link {
    text-decoration: none;
}

#slide a:visited {
    text-decoration: none;
}

#slide a:hover {
    text-decoration: none;
    cursor: pointer;
}

#slide a:active {
    text-decoration: none;
}

.utility img {
    max-width: 40px;
}